<div class="socialbtns">
    <ul>
	{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><i class="fa fa-2x fa-envelope"></i></a>{% endif %}
        <li><a href="https://scholar.google.com.tr/citations?user=phI2qJwAAAAJ&hl=en" class="ai ai-google-scholar ai-2x"></a></li>
        <li><a href="https://www.twitter.com/{{ site.footer-links.twitter }}" class="fa fa-2x fa-twitter"></a></li>
        <li><a href="https://github.com/{{ site.footer-links.github }}" class="fa fa-2x fa-github"></a></li>
        <li><a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" class="fa fa-2x fa-linkedin"></a></li>
        <li><a href="https://orcid.org/{{ site.footer-links.orcid }}" class="ai ai-orcid ai-2x"></a></li>
    </ul>
</div>
