<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }} | {{ site.description }}</title>
    <link rel="shortcut icon" type="image/jpg" href="/images/15dpi.png">
    <meta property="og:image" content="/images/residency-headshot.jpg">

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/icons/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/icons/academicons-1.9.1/css/academicons.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/icons/social-circles.min.css">
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/updates">Updates</a>
            <a href="{{ site.baseurl }}/publications">Publications</a>
            <a href="{{ site.baseurl }}/blog">Blog</a>
            <a href="https://drive.google.com/file/d/1CbjG9COlgbwLiZC7HCoiKYRH8cVLL3Bs/view?usp=sharing" target="_blank"  class="ai ai-cv ai-lg"></a>
        </header>
      </div>
    </div>


    <div id="main" role="main" class="container">
      {{ content }}
    </div>



    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
